<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="TRANSPORT_URL" value="php://localhost?size=1000" />
        <env name="REDIS_DSN" value="redis://localhost" />
        <env name="JWT_KEY" value="AVERYSECRETKEY" />
        <env name="ADDR" value="127.0.0.1:3000" />
        <env name="ALLOW_ANONYMOUS" value="1" />
    </php>
</phpunit>
